In [21]:
import numpy as np
import pandas as pd

In [46]:
df = pd.read_excel(r"C:\Users\hi\Downloads\Clean.xlsx")

In [47]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

In [48]:
df.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [49]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [50]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0,Iris-setosa
1,2,4.9,3.0,1.4,0,Iris-setosa
2,3,NaN,3.2,1.3,0,Iris-setosa
3,4,4.6,3.1,1.5,0,Iris-setosa
4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...
155,156,5.5,2.4,3.8,1,Iris-versicolor
156,157,5.4,3.9,1.7,0,Iris-setosa
157,158,4.6,3.4,1.4,0,Iris-setosa
158,159,6.4,3.2,5.3,2,Iris-virginica
159,160,6.5,3.0,5.5,1,Iris-virginica

### missing values

In [51]:
df['SepalLengthCm'].isna().sum()

4

In [52]:
df['SepalLengthCm'].mean()

6.629487179487178

In [53]:
df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(),inplace= True)

In [54]:
df['SepalWidthCm'].isna().sum()

4

In [55]:
df['SepalWidthCm'].mean()

3.108974358974359

In [56]:
df['SepalWidthCm'].fillna(df['SepalWidthCm'].mean(),inplace= True)

In [57]:
df['PetalLengthCm'].isna().sum()

3

In [58]:
df['PetalLengthCm'].median()

4.4

In [59]:
df['PetalLengthCm'].fillna(df['PetalLengthCm'].median(),inplace= True)

In [60]:
df['Species'].isna().sum()

5

In [61]:
df['Species'].mode()

0    Iris-versicolor
Name: Species, dtype: object

In [62]:
df['Species'].fillna(df['Species'].mode()[0],inplace= True)

In [63]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### outliers

In [64]:
sl = (df['SepalLengthCm'] < 4.3) | (df['SepalLengthCm'] > 7.9)
sw = (df['SepalWidthCm'] < 2) | (df['SepalWidthCm'] > 4.4)
pl = (df['PetalLengthCm'] < 1) | (df['PetalLengthCm'] > 6.9)
pw = (df['PetalWidthCm'] < 0.1) | (df['PetalWidthCm'] > 2.5)

In [65]:
df['SepalLengthCm'] = np.where(sl,df['SepalLengthCm'].median(),df['SepalLengthCm'])
df['SepalWidthCm'] = np.where(sw,df['SepalWidthCm'].median(),df['SepalWidthCm'])
df['PetalLengthCm'] = np.where(pl,df['PetalLengthCm'].median(),df['PetalLengthCm'])
df['PetalWidthCm'] = np.where(pw,df['PetalWidthCm'].median(),df['PetalWidthCm'])

### Duplicates

In [66]:
df[df.duplicated()]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             160 non-null    int64
 1   SepalLengthCm  160 non-null    float64
 2   SepalWidthCm   160 non-null    float64
 3   PetalLengthCm  160 non-null    float64
 4   PetalWidthCm   160 non-null    float64
 5   Species        160 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.6+ KB

In [68]:
df.drop('Id',axis = 1,inplace = True)

In [69]:
d = df.drop_duplicates()
d

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0         5.100000           3.5            1.4           1.0     Iris-setosa
1         4.900000           3.0            1.4           1.0     Iris-setosa
2         6.629487           3.2            1.3           1.0     Iris-setosa
3         4.600000           3.1            1.5           1.0     Iris-setosa
4         5.000000           3.6            1.4           1.0     Iris-setosa
..             ...           ...            ...           ...             ...
145       6.700000           3.0            5.2           2.0  Iris-virginica
146       6.300000           2.5            5.0           1.0  Iris-virginica
147       6.500000           3.0            5.2           2.0  Iris-virginica
148       6.200000           3.4            5.4           2.0  Iris-virginica
149       5.900000           3.0            5.1           1.0  Iris-virginica

[142 rows x 5 columns]

In [70]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float64
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    float64
 4   Species        142 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB

### Type casting

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  160 non-null    float64
 1   SepalWidthCm   160 non-null    float64
 2   PetalLengthCm  160 non-null    float64
 3   PetalWidthCm   160 non-null    float64
 4   Species        160 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.4+ KB

In [72]:
df['SepalLengthCm'] = df['SepalLengthCm'].astype('float16')
df['SepalWidthCm'] = df['SepalWidthCm'].astype('float16')
df['PetalLengthCm'] = df['PetalLengthCm'].astype('float16')
df['PetalWidthCm'] = df['PetalWidthCm'].astype('float16')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  160 non-null    float16
 1   SepalWidthCm   160 non-null    float16
 2   PetalLengthCm  160 non-null    float16
 3   PetalWidthCm   160 non-null    float16
 4   Species        160 non-null    object
dtypes: float16(4), object(1)
memory usage: 2.6+ KB