### Data Manipulation

1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14.Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\hi\Downloads\studens_data.csv")

In [4]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

### 1.Find all Statistic Measures

In [82]:
df.drop('ID',axis = 1)

,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,A,male,73.47,64,81,87,60,74,71,60
1,A,female,71.22,57,50,51,51,55,62,61
2,A,female,74.56,47,48,71,60,61,68,64
3,A,female,72.89,46,72,38,60,29,54,51
4,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...
100,A,female,88.34,87,83,92,98,93,86,90
101,B,male,89.84,98,77,95,98,96,88,100
102,B,male,88.82,83,80,91,98,93,95,71
103,A,male,86.60,92,82,91,99,94,82,78
104,A,male,93.71,93,97,99,100,97,90,90

In [4]:
df.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   105 non-null    int64
 1   class                105 non-null    object
 2   gender               105 non-null    object
 3   GPA                  105 non-null    float64
 4   Algebra              105 non-null    int64
 5   Calculus1            105 non-null    int64
 6   Calculus2            105 non-null    int64
 7   Statistics           105 non-null    int64
 8   Probability          105 non-null    int64
 9   Measure              105 non-null    int64
 10  Functional_analysis  105 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 9.2+ KB

In [11]:
df.head()

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61

In [12]:
df.tail()

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [15]:
df.dtypes

ID                       int64
class                   object
gender                  object
GPA                    float64
Algebra                  int64
Calculus1                int64
Calculus2                int64
Statistics               int64
Probability              int64
Measure                  int64
Functional_analysis      int64
dtype: object

In [16]:
df.columns

Index(['ID', 'class', 'gender', 'GPA', 'Algebra', 'Calculus1', 'Calculus2',
       'Statistics', 'Probability', 'Measure', 'Functional_analysis'],
      dtype='object')

### GPA

In [5]:
gpa = df['GPA']
gpa

0      73.47
1      71.22
2      74.56
3      72.89
4      70.11
       ...
100    88.34
101    89.84
102    88.82
103    86.60
104    93.71
Name: GPA, Length: 105, dtype: float64

In [25]:
gpa.mean()

82.95704761904761

In [26]:
gpa.median()

84.11

In [27]:
gpa.var()

36.64106716117215

In [28]:
gpa.std()

6.053186529520807

In [29]:
range = gpa.max() - gpa.mean()
range

10.75295238095238

In [30]:
q1 = np.percentile(gpa,25)
q1

79.34

In [31]:
q2 = np.percentile(gpa,50)
q2

84.11

In [32]:
q3 = np.percentile(gpa,75)
q3

87.3

In [33]:
iqr = q3 -q1
iqr

7.959999999999994

In [34]:
upper_limit =q3+(1.5*q3)
upper_limit

218.25

In [35]:
lower_limit =q1-(1.5*q1)
lower_limit

-39.67

### Algebra

In [36]:
algebra = df['Algebra']
algebra

0      64
1      57
2      47
3      46
4      49
       ..
100    87
101    98
102    83
103    92
104    93
Name: Algebra, Length: 105, dtype: int64

In [41]:
avg = algebra.mean()
avg

76.05714285714286

In [42]:
algebra.median()

76.0

In [43]:
algebra.std()

11.722618317585036

In [44]:
algebra.var()

137.41978021978022

In [45]:
range2 = algebra.max() - algebra.min()
range2

52

In [46]:
q1=np.percentile(algebra,25)
q1

67.0

In [47]:
q2=np.percentile(algebra,50)
q2

76.0

In [48]:
q3=np.percentile(algebra,75)
q3

84.0

In [49]:
iqr=q3-q1
iqr

17.0

In [50]:
upper_limit =q3+(1.5*q3)
upper_limit

210.0

In [51]:
lower_limit =q1-(1.5*q1)
lower_limit

-33.5

### Calculus1

In [57]:
calculus1 = df['Calculus1']
calculus1

0      81
1      50
2      48
3      72
4      45
       ..
100    83
101    77
102    80
103    82
104    97
Name: Calculus1, Length: 105, dtype: int64

In [59]:
cal1_avg = calculus1.mean()
cal1_avg

71.96190476190476

In [60]:
calculus1.median()

73.0

In [61]:
calculus1.var()

148.76776556776557

In [62]:
calculus1.std()

12.197039213176515

In [63]:
range3 = calculus1.max() - calculus1.min()
range3

62

In [64]:
q1=np.percentile(calculus1,25)
q1

64.0

In [65]:
q2=np.percentile(calculus1,50)
q2

73.0

In [66]:
q3=np.percentile(calculus1,75)
q3

80.0

In [67]:
iqr=q3-q1
iqr

16.0

In [68]:
upper_limit =q3+(1.5*q3)
upper_limit

200.0

In [69]:
lowerlimit =q1-(1.5*q1)
lower_limit

-33.5

### Calculus2

In [5]:
calculus2 = df['Calculus2']
calculus2

0      87
1      51
2      71
3      38
4      63
       ..
100    92
101    95
102    91
103    91
104    99
Name: Calculus2, Length: 105, dtype: int64

In [6]:
calavg2=calculus2.mean()
calavg2

78.94285714285714

In [7]:
calculus2.median()

83.0

In [8]:
calculus2.var()

224.91978021978022

In [9]:
calculus2.std()

14.997325768942282

In [10]:
range4=calculus2.max()-calculus2.min()
range4

82

In [11]:
q1=np.percentile(calculus2,25)
q1

71.0

In [12]:
q2=np.percentile(calculus2,50)
q2

83.0

In [13]:
q3=np.percentile(calculus2,75)
q3

91.0

In [14]:
iqr=q3-q1
iqr

20.0

In [15]:
upper_limit =q3+(1.5*q3)
upper_limit

227.5

In [16]:
lower_limit =q1-(1.5*q1)
lower_limit

-35.5

### Statistics

In [19]:
statistics=df['Statistics']
statistics

0       60
1       51
2       60
3       60
4       60
      ...
100     98
101     98
102     98
103     99
104    100
Name: Statistics, Length: 105, dtype: int64

In [20]:
statavg=statistics.mean()
statavg

85.13333333333334

In [21]:
statistics.median()

87.0

In [22]:
statistics.var()

105.4628205128205

In [23]:
statistics.std()

10.269509263485793

In [24]:
range5=statistics.max()-statistics.mean()
range5

14.86666666666666

In [25]:
q1=np.percentile(statistics,25)
q1

80.0

In [26]:
q2=np.percentile(statistics,50)
q2

87.0

In [27]:
q3=np.percentile(statistics,75)
q3

92.0

In [29]:
iqr=q3-q1
iqr

12.0

In [30]:
upper_limit =q3+(1.5*q3)
upper_limit

230.0

In [31]:
lower_limit =q1-(1.5*q1)
lower_limit

-40.0

### Probability

In [33]:
probability=df['Probability']
probability

0      74
1      55
2      61
3      29
4      66
       ..
100    93
101    96
102    93
103    94
104    97
Name: Probability, Length: 105, dtype: int64

In [34]:
probavg=probability.mean()
probavg

83.87619047619047

In [38]:
probability.median()

85.0

In [35]:
probability.var()

110.55183150183149

In [36]:
probability.std()

10.51436310490709

In [37]:
range6=probability.max()-probability.min()
range6

68

In [39]:
q1=np.percentile(probability,25)
q1

79.0

In [40]:
q2=np.percentile(probability,50)
q2

85.0

In [41]:
q3=np.percentile(probability,75)
q3

92.0

In [42]:
iqr=q3-q1
iqr

13.0

In [43]:
upper_limit =q3+(1.5*q3)
upper_limit

230.0

In [44]:
lower_limit =q1-(1.5*q1)
lower_limit

-39.5

### Measure

In [46]:
measure=df['Measure']
measure

0      71
1      62
2      68
3      54
4      66
       ..
100    86
101    88
102    95
103    82
104    90
Name: Measure, Length: 105, dtype: int64

In [50]:
mea_avg=measure.mean()
mea_avg

80.76190476190476

In [51]:
measure.median()

81.0

In [52]:
measure.var()

106.01007326007326

In [53]:
measure.std()

10.296119330120122

In [55]:
range7=measure.max()-measure.min()
range7

46

In [56]:
q1=np.percentile(measure,25)
q1

74.0

In [57]:
q2=np.percentile(measure,50)
q2

81.0

In [58]:
q3=np.percentile(measure,75)
q3

89.0

In [59]:
iqr=q3-q1
iqr

15.0

In [60]:
upper_limit =q3+(1.5*q3)
upper_limit

222.5

In [61]:
lower_limit =q1-(1.5*q1)
lower_limit

-37.0

### Functional_analysis

In [62]:
functional_analysis=df['Functional_analysis']
functional_analysis

0       60
1       61
2       64
3       51
4       61
      ...
100     90
101    100
102     71
103     78
104     90
Name: Functional_analysis, Length: 105, dtype: int64

In [65]:
fa_avg=functional_analysis.mean()
fa_avg

75.32380952380953

In [66]:
functional_analysis.median()

76.0

In [67]:
functional_analysis.var()

169.08644688644688

In [68]:
functional_analysis.std()

13.003324455170949

In [69]:
range8=functional_analysis.max()-functional_analysis.min()
range8

91

In [70]:
q1=np.percentile(functional_analysis,25)
q1

67.0

In [71]:
q2=np.percentile(functional_analysis,50)
q2

76.0

In [72]:
q3=np.percentile(functional_analysis,75)
q3

85.0

In [73]:
iqr=q3-q1
iqr

18.0

In [75]:
upper_limit =q3+(1.5*q3)
upper_limit

212.5

In [74]:
lower_limit =q1-(1.5*q1)
lower_limit

-33.5

### 2. Which subject has highest average ?

In [83]:
average = df.loc[:,['Algebra', 'Calculus1', 'Calculus2','Statistics', 'Probability', 'Measure']].mean()

In [84]:
average

Algebra        76.057143
Calculus1      71.961905
Calculus2      78.942857
Statistics     85.133333
Probability    83.876190
Measure        80.761905
dtype: float64

In [85]:
average.idxmax()

'Statistics'

### 3.What are the Student IDs who got more tham 80% GPA?

In [86]:
df[df["GPA"] > 80]["ID"]

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

### 4.How many female students are there in the class?

In [88]:
female_std = sum(df["gender"] ==  'female')
female_std

68

### 5.What is the ratio of male students and female students?

In [89]:
male_std = sum(df['gender'] == 'male')
male_std

37

In [90]:
print(female_std ,':', male_std)

68 : 37

### 6.What are the marks of male students in statistics ?

In [91]:
df.loc[df["gender"] == 'male', ["Statistics"]]

     Statistics
0            60
5            61
6            63
10           69
13           73
14           76
16           76
17           76
18           76
19           78
20           78
21           78
24           80
28           83
31           83
32           83
33           83
40           85
47           87
50           87
59           89
61           89
65           90
72           92
78           92
82           92
89           94
90           95
92           95
96           97
97           97
98           97
99           97
101          98
102          98
103          99
104         100

### 7.What is the ID of the class topper ?

In [92]:
a = df.loc[df["GPA"].argmax()]

In [93]:
cls_topper = a["ID"]
cls_topper

1245

### 8.What is the gender of probabilty topper?

In [94]:
p = df.loc[df["Probability"].argmax()]

In [96]:
prob_topper = p["gender"]
prob_topper

'female'

### 9.Create Pivot Table for gender and class?

In [97]:
df.loc[:, ["gender", "class"]]

     gender class
0      male     A
1    female     A
2    female     A
3    female     A
4    female     A
..      ...   ...
100  female     A
101    male     B
102    male     B
103    male     A
104    male     A

[105 rows x 2 columns]

### 10.Which subject got least average marks.?

In [98]:
n = (df.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure']].mean())

In [101]:
n.idxmin()

'Calculus1'

### 11.How many male and female students are there ?

In [102]:
sum(df["gender"] == 'female' )

68

In [103]:
sum(df["gender"] == 'male' )

37

### 12.How many female student are there from class A?

In [104]:
sum((df["class"] == 'A') & (df["gender"] == "female"))

48

### 13.Which class has more strength ?

In [105]:
df["class"].value_counts()

class
A    76
B    29
Name: count, dtype: int64

### 14.Sort the data as per algebra ?

In [106]:
df.sort_values("Algebra")

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

### 15.How many students got exactly 64 marks from functional analysis?

In [107]:
sum(df['Functional_analysis'] == 64)

8