
1. What are the column names in the Iris dataset?
2. How many rows and columns are there in the dataset?
3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?
4. What is the average sepal length?
5. what is the largest petal length, and what is its value? 
6. What is the mean and standard deviation of petal width for the Setosa species?
7. Check for missing values in the dataset 
8. Extract the `Species` column using loc and iloc method
9. Drop `sepal Width` column
10. Get `petalwidth` 10th value using at and iat

### What are the column names in the Iris dataset?

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\hi\Python Files\Iris_clean.xlsx")

In [4]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### How many rows and columns are there in the dataset?

In [5]:
df.shape            #There are 165 rows and 6 columns

(165, 6)

### Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

In [8]:
SepalLengthCm = df.iloc[:,1]

In [9]:
SepalLengthCm

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [10]:
SepalLengthCm.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalLengthCm
Non-Null Count  Dtype
--------------  -----
161 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [11]:
SepalLengthCm.describe()

count    161.000000
mean       7.510559
std       11.162995
min        4.300000
25%        5.100000
50%        5.800000
75%        6.500000
max      116.300000
Name: SepalLengthCm, dtype: float64

In [12]:
SepalLengthCm.mean()

7.510559006211181

In [13]:
SepalLengthCm.median()

5.8

In [14]:
SepalLengthCm.var()

124.61245031055901

In [15]:
SepalLengthCm.std()

11.162994683800536

In [16]:
SepalWidthCm = df.iloc[:,2]

In [17]:
SepalWidthCm

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, Length: 165, dtype: float64

In [18]:
SepalWidthCm.describe()

count    159.000000
mean       4.713208
std       13.468999
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max      130.000000
Name: SepalWidthCm, dtype: float64

In [19]:
SepalWidthCm.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalWidthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [20]:
SepalWidthCm.mean()

4.713207547169812

In [21]:
SepalWidthCm.median()

3.0

In [22]:
SepalWidthCm.var()

181.41393838070218

In [23]:
SepalWidthCm.std()

13.468999160320049

In [25]:
PetalLengthCm = df.iloc[:,3]
PetalLengthCm

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

In [26]:
PetalLengthCm.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalLengthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [27]:
PetalLengthCm.describe()

count    159.000000
mean       4.022642
std        2.052505
min        1.000000
25%        1.600000
50%        4.500000
75%        5.150000
max       13.800000
Name: PetalLengthCm, dtype: float64

In [28]:
PetalLengthCm.mean()

4.022641509433963

In [29]:
PetalLengthCm.median()

4.5

In [30]:
PetalLengthCm.var()

4.212775256747074

In [31]:
PetalLengthCm.std()

2.052504630140228

In [32]:
PetalWidthCm = df.iloc[:,4]
PetalWidthCm

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
       ...
160     2.0
161     1.8
162     2.5
163     2.0
164     1.9
Name: PetalWidthCm, Length: 165, dtype: float64

In [33]:
PetalWidthCm.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalWidthCm
Non-Null Count  Dtype
--------------  -----
165 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [34]:
PetalWidthCm.describe()

count    165.000000
mean       2.810909
std       12.097722
min        0.100000
25%        0.400000
50%        1.500000
75%        1.900000
max      111.100000
Name: PetalWidthCm, dtype: float64

In [35]:
PetalWidthCm.mean()

2.810909090909091

In [36]:
PetalWidthCm.median()

1.5

In [37]:
PetalWidthCm.var()

146.35488026607536

In [38]:
PetalWidthCm.std()

12.097722110632041

### What is the average sepal length?

In [15]:
average = df['SepalLengthCm'].mean()

In [16]:
average

7.510559006211181

### what is the largest petal length, and what is its value?

In [39]:
 PetalLengthCm.max()

13.8

### What is the mean and standard deviation of petal width for the Setosa species?

In [42]:
n = df.head(50)

In [43]:
n1 = a.iloc[:,4]

In [44]:
n1.mean()            # mean of petal width for the Setosa species

2.844

In [45]:
n1.std()

15.616006440279703

### Check for missing values in the dataset

In [46]:
missing_values=df.isnull()
missing_values

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

[165 rows x 6 columns]

In [47]:
df.isnull().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     6
PetalLengthCm    6
PetalWidthCm     0
Species          5
dtype: int64

### Extract the Species column using loc and iloc method

In [48]:
a =df.loc[0:,['Species']]
a

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

In [49]:
b =df.iloc[0:,[5]]
b

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

### Drop sepal Width column

In [50]:
df.drop('SepalWidthCm',axis = 1,inplace = True)

In [51]:
df

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

### Get petalwidth 10th value using at and iat

In [56]:
PetalWidth = df.at[10,'PetalWidthCm']
PetalWidth

0.2

In [57]:
PetalWidth = df.iat[10,3]
PetalWidth

0.2