# pandas Series
1. Create pandas series with different `data types` in `different ways`
2. Find the `attributes` of Series of [10,30,40,1,3,6,14,18,23] with index starts from `100`
3. create salaries of `30 employee salaries randomly from 30000-90000` then `measure and describe` the data using pandas series.
4. What are the `similaraties` and `differences` between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

### Create pandas series with different data types in different ways

In [1]:
import pandas as pd

In [2]:
# using list

In [4]:
num = [1,2,3,4,5,6,7,8,9,10]

In [5]:
a = pd.Series(num)

In [6]:
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
n = list(range(1,11))
pd.Series(n)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
# using tuple

In [9]:
tup = (20,40,60,80,100)

In [10]:
pd.Series(tup)

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [11]:
# using dictionary

In [12]:
names = {1:'Sourav',2:'virat',3:'Akki',4:'raju'}

In [13]:
pd.Series(names)

1    Sourav
2     virat
3      Akki
4      raju
dtype: object

In [14]:
# using random

In [15]:
import numpy as np

In [16]:
val = np.random.randint(1,20,10)

In [17]:
pd.Series(val)

0    13
1     3
2     2
3    10
4    19
5     1
6     5
7     9
8    11
9     9
dtype: int32

### Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [18]:
series = [10,30,40,1,3,6,14,18,23]

In [19]:
n = len(series)

In [20]:
num = pd.Series(series,index = list(range(100,100+n)))
num

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [30]:
num.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [21]:
 num.dtype

dtype('int64')

In [22]:
num.head(6)

100    10
101    30
102    40
103     1
104     3
105     6
dtype: int64

In [24]:
num.tail(3)

106    14
107    18
108    23
dtype: int64

In [25]:
num.memory_usage()

144

In [29]:
num.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

### create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series

In [37]:
salaries = np.random.randint(30000,90000,30)
salaries

array([59332, 64071, 48149, 52654, 40359, 45699, 82492, 82252, 79275,
       69048, 45697, 44609, 47982, 46877, 62747, 88464, 40888, 30040,
       42682, 38756, 82030, 51448, 34813, 46994, 78456, 76878, 86000,
       48095, 41252, 47002])

In [38]:
salary = pd.Series(salaries,index = list(range(1,31)))
salary

1     59332
2     64071
3     48149
4     52654
5     40359
6     45699
7     82492
8     82252
9     79275
10    69048
11    45697
12    44609
13    47982
14    46877
15    62747
16    88464
17    40888
18    30040
19    42682
20    38756
21    82030
22    51448
23    34813
24    46994
25    78456
26    76878
27    86000
28    48095
29    41252
30    47002
dtype: int32

In [39]:
salary.mean()

56834.7

In [40]:
salary.median()

48122.0

In [41]:
salary.mode()      # no common or same salary, every employee has unique salaries

0     30040
1     34813
2     38756
3     40359
4     40888
5     41252
6     42682
7     44609
8     45697
9     45699
10    46877
11    46994
12    47002
13    47982
14    48095
15    48149
16    51448
17    52654
18    59332
19    62747
20    64071
21    69048
22    76878
23    78456
24    79275
25    82030
26    82252
27    82492
28    86000
29    88464
dtype: int32

In [42]:
salary.var()

305902436.28620684

In [43]:
salary.std()

17490.066789072214

In [44]:
salary.min()

30040

In [45]:
salary.max()

88464

In [46]:
salary.quantile(0.25)

44881.0

In [47]:
salary.quantile(0.5)

48122.0

In [48]:
salary.quantile(0.75)

74920.5

In [49]:
salary.describe()

count       30.000000
mean     56834.700000
std      17490.066789
min      30040.000000
25%      44881.000000
50%      48122.000000
75%      74920.500000
max      88464.000000
dtype: float64

### What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

Numpy deals with numeric values and homogeneous data types and it is an n-dimensional array

Pandas deals with heterogenous data types and it is 1-d array,2-d array, 3-d array

Pandas has index numbers where as Numpy does not have Index numbers

In [55]:
names = ['Sourav','virat','Akki','raju','suresh']

In [56]:
n1 = np.array(names,ndmin = 3)
n1

array([[['Sourav', 'virat', 'Akki', 'raju', 'suresh']]], dtype='<U6')

In [57]:
name = pd.Series(names)
name

0    Sourav
1     virat
2      Akki
3      raju
4    suresh
dtype: object

In [59]:
n1.ndim

3

In [60]:
name.ndim

1

### create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [61]:
a = list(range(100,150))

In [62]:
b = pd.Series(a)
b

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [65]:
b[18]   # indexing

118

In [68]:
b[15:50:5]   # slicing

15    115
20    120
25    125
30    130
35    135
40    140
45    145
dtype: int64