* Write a program that calculates the `sum, difference, product, and quotient` of two numbers: 10 and 5.

* Create a program that calculates the `area of a circle` with a radius of 4.5 units.

*  Write a program that `swaps` the values of two variables: x with a value of 5 and "y" with a value of 10.
* Create a program that calculates `compound interest` for a principal amount of $1000, an interest rate of 5%, and a time period of 3 years.

* Write a program that `compares` two numbers: 7 and 12, and determines whether the first number is greater than, less than, or equal to the second number.
* Create a program that `checks` if a person of age 18 is eligible to vote based on the voting age requirement.(True/False)

* Create a program that `swaps` the values of two integers: `a` with a value of 10 and `b` with a value of 20 using
 *  bitwise XOR (^) operator.
 * Logical AND
 * Logical OR
 * Logical NOT

*  Create a Python program that calculates the `area of a rectangle`. Prompt the `user to enter` the length and width of the rectangle, `store them` in variables, and compute the area using the formula:area length width.Finally, `print the calculated area.

* Create a Python program that calculates the `average` of three exam scores. Prompt the user to enter the scores, `store them` in variables, calculate the average, and print the result.

* Write a Python program that `converts` temperature from Celsius to Fahrenheit. Prompt the user to enter a temperature in Celsius, store it in a variable, and convert it to Fahrenheit using the formula: `Fahrenheit = (Celsius* 9/5)+32`, and print the converted temperature.

* What are the `logical operators` in Python? Explain `each one` with an example.

* What are the `membership` operators in Python? Explain their usage with examples

* List and briefly explain the `basic data types` available in Python.

* Write a Python code snippet that `assigns a value to a variable `and determines its `data type` using the type() function.

Assignment: Basic Python Operators

**Task 1: Arithmetic Operators**
1. Write a Python program that takes two user-input numbers and displays their sum using the addition operator.
2. Create a program to calculate the area of a rectangle. Prompt the user for the length and width, then use multiplication to find the area.
3. Implement a program that converts temperature from Celsius to Fahrenheit using the formula: Fahrenheit = (Celsius * 9/5) + 32.

**Task 2: Comparison Operators**
1. Write a program that compares two user-input numbers and prints whether the first number is greater than the second number or not.
2. Create a program that determines whether a user-input year is a leap year or not. A leap year is divisible by 4 and not divisible by 100, unless it is also divisible by 400.
3. Implement a simple guessing game. Generate a random number between 1 and 100 and have the user guess the number. Provide feedback if their guess is too high or too low, and let them know when they've guessed correctly.

**Task 3: Logical Operators**
1. Write a program that checks whether a user-input number is positive and even using logical AND (`and`) operator.
2. Create a login system where you define a correct username and password. Ask the user for their input and compare it with the correct credentials using logical OR (`or`) operator. Provide access if either the username or password is correct.
3. Implement a program that determines whether a given year is a leap year and divisible by 7 using logical NOT (`not`) operator.

**Task 4: Assignment Operators**
1. Write a program to calculate the square of a number using the exponentiation operator (`**`) and assign it back to the same variable.
2. Create a program that keeps track of the total score in a game. Prompt the user for their latest score and update the total score using the addition assignment operator (`+=`).
3. Implement a program to convert seconds into hours, minutes, and remaining seconds using both division and modulo operators, and then assign each value using assignment operators.

**Task 5: Bitwise Operators**
1. Write a program that performs a bitwise AND operation between two user-input numbers and displays the result.
2. Create a program to toggle the nth bit of a given number. Ask the user for the number and the value of n, then use bitwise XOR (^) operator to toggle the bit.
3. Implement a program to swap the values of two variables without using a temporary variable, only using bitwise XOR (^) operator.

In [30]:
a = 10
b = 5            #sum
print(a + b)

15

In [31]:
a = 10
b = 5             #difference
print(a-b)

5

In [3]:
a = 10
b = 5             #product
print(a * b)

50

In [32]:
a = 10
b = 5           #quotient
print(a//b)

2

In [5]:
radius = 4.5
area = 3.1415 * 4.5**2
print(area)

63.615375

In [33]:
x = 5
y = 10
temp = x 
x=y
y=temp
print("After swapping")
print("value of x :" , x)
print("value of y: " , y)

After swapping
value of x : 10
value of y:  5

In [5]:
length = int(input("enter the length: "))
breadth = int(input("enter the breadth: "))
area = length * breadth
print(area)

enter the length: 8
enter the breadth: 5
40

In [7]:
p = 1000
r = 5
t = 3
a = p*(1+(r/100))**t
ci = a-p
print(ci)

157.62500000000023

In [42]:
a = 7
b = 12
a>b        #greater than

False

In [43]:
a = 7
b = 12     #Less than
a<b

True

In [44]:
a = 7
b = 12    # Equal
a == b

False

In [3]:
age = 18
eligibilityage = 18
age >= eligibilityage

True

In [46]:
a = 10  #Bitwise XOR
b = 20
a = a ^ b
b = a ^ b
a = a ^ b
print("After swapping")
print("value of a = " , a)
print("value of b = " , b)

After swapping
value of a =  20
value of b =  10

In [4]:
a = 10  # Logical AND
b = 20
a = a and b
b = a and b
a = a and b
print("After swapping")
print("value of a = " , a)
print("value of b = " , b)

After swapping
value of a =  20
value of b =  20

In [8]:
a = 10
b = 20

In [9]:
a = a ^ b
b = a ^ b    #Bitwise XOR
a = a ^ b

In [10]:
print(a)

20

In [36]:
a = 10          #Logical AND
b = 20
(a<=b) and(b==a)

False

In [37]:
(a==b) or (b>=a)  # Logical OR`

True

In [38]:
not (a!=b) #Logical NOT

False

In [40]:
length = 10
breadth = 5
print("area =", length * breadth)

area = 50

In [1]:
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
c = int(input("Enter the third number:"))
average = (a+b+c)/3
print("The average of three numbers is " , average)

Enter the first number:18
Enter the second number:7
Enter the third number:11
The average of three numbers is  12.0

In [8]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in fahrenheit: (.2f)",format(fahrenheit))

Enter temperature in celsius: 98.4
Temperature in fahrenheit: (.2f) 209.12

# Logical operators

logical operators are 
1.Logical AND : in Logical AND : If any condition is False, the complete condition is False
    
2.Logical OR : If any condition is True, the complete condition is True
    it takes the first value in the logical or value
    
3.Logical NOT

In [9]:
a = 20
b = 30 
c = 40

In [10]:
(a > b) or ( b < c)

True

In [11]:
(a == b) or (a <= b)

True

In [12]:
(a == b) or (a == c) or (a < b)

True

In [13]:
a = 18
b = 77

In [14]:
not (a < b)

False

In [15]:
a = 150
b = 300
c = 200

In [16]:
(a == b) and (b == c)

False

In [17]:
(5< 10) and (6> 3)

True

In [18]:
"Hello" > "hello"

False

# Membership operators

They consists of in and
not in operator

in operator: The ‘in’ operator is used to check if a character/ substring/ element exists in a sequence or not.

not in operator- Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [20]:
a = "Iam learning Python"

In [22]:
"Python" in a

True

In [24]:
"Iam" not in a

False

In [25]:
" learning " in a

True

# Datatypes

Datatype is a data,numeric or text

Datatype is of two types

1.Basic Datatype

2.Collection Datatype

Integer - it represents positive, negative, whole number

Float - it represents with decimal point

String - it represents sequence of characters like test

Boolean - it is used for logical operations True or False

In [4]:
variable_name = "Akshitha"

In [5]:
type(variable_name)

str

# Task1 - Arithematic Operators

In [5]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
sum = float(num1) + float(num2)
print("sum =" ,sum)

Enter first number: 10
Enter second number: 8
sum = 18.0

In [6]:
length =int(input("enter the length"))
width =int(input("enter the width"))
area =length * width
print("area=" ,area)

enter the length5
enter the width7
area= 35

In [1]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in fahrenheit: (.2f)",format(fahrenheit))

Enter temperature in celsius: 98.4
Temperature in fahrenheit: (.2f) 209.12

# Task2 Comparison operators

In [3]:
x=int(input("enter any number"))
y=int(input("enter any number"))
if x>y:
    print("x is greater than y")
elif y>x:
    print("y is greater than x")
else:
     print("x and y are equal")

enter any number18
enter any number5
x is greater than y

In [1]:
year = int(input('Enter year : '))
 
if (year%4 == 0 and year%100 != 0) or (year%400 == 0) :
    print(year, "is a leap year.")
else :
    print(year, "is not a leap year.")

Enter year : 2018
2018 is not a leap year.

In [3]:
import random
number=random.randint(2,95)

# Task3 Logical operators

In [5]:
a = int(input("Enter a value: "))
if(a%2 == 0 and a>0):
    print("number is positive and even")
elif(a%2 != 0 and a>0):
    print("number is positive and odd")
elif(a%2 == 0 and a<0):
    print("number is negative and even")
else:
     print("number is negative and odd")

Enter a value: 18
number is positive and even

In [1]:
username = "BlackPanther"
password=6284
username1=input("enter username")
password1=int(input("enter the password"))
if (username1==username)or(password1==password):
    print("access is provided")
else:
    print("access is denied")

enter usernameBlackPanther
enter the password6284
access is provided

In [2]:
year = int(input('Enter year : '))
 
if (year%4 == 0 and year%100 != 0 or (year%400 == 0) and not(year%7!=0)):
    print("leap year and divisible by 7")
else :
    print("not a leap year and it is not divisible by 7")

Enter year : 1996
leap year and divisible by 7

# 4. Assignment operators

In [4]:
n = 18
square = n * n
print(square)

324

In [12]:
score = 48
latest_score = int(input("enter the score : "))
score+=latest_score
print(score)

enter the score : 58
106

In [13]:
seconds = 12480
minutes = seconds/60
hours = minutes/60
print(minutes)
print(hours)

208.0
3.466666666666667

# 5. Bitwise operators

In [16]:
num1=int(input("enter the number : "))
num2=int(input("enter the number : "))
num1 & num2

enter the number : 32
enter the number : 54

32

In [19]:
x = 10
y = 20
x,y=y,x
x^y
y^x
print(x)
print(y)

20
10