
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

In [56]:
val = (10,18,0.5,1.8,"virat","sourav",2.5,30)

In [58]:
def var(a):
    if type(a) == float:
        return val
list(filter(var,val))

[0.5, 1.8, 2.5]

In [59]:
def var(a):
    if type(a) == str:
        return val
list(filter(var,val))

['virat', 'sourav']

In [63]:
def var(a):
    if type(a) == int:
        return "Integer"
    elif type(a) == str :
        return "String"
    else:
        return "Float"

list(map(var,val))

['Integer',
 'Integer',
 'Float',
 'Float',
 'String',
 'String',
 'Float',
 'Integer']

# 1

Create a lambda function that takes two arguments and returns their sum.

Create another lambda function that takes a single argument and returns its square.

Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [2]:
 c = lambda a,b : a+b

In [3]:
c(10,8)

18

In [6]:
a = lambda n : n ** 2

In [7]:
a(8)

64

In [12]:
a = lambda *n : sum(n)
b = lambda n : n ** 2
print(a(10,8))
print(b(8))

18
64

# 2

Define a list of integers.

Use the filter function to create a new list that contains only the even numbers from the original list.

Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.
Print both filtered lists.

In [26]:
list1 = [18,21,57,77,6,2,9,20,]

In [27]:
def even(n):
    if (n % 2 == 0):
        return n
def func(n):
    if n > 10:
        return n

In [28]:
a = list(filter(even,list1))
b = list(filter(func,list1))

In [29]:
a

[18, 6, 2, 20]

In [25]:
b

[18, 21, 57, 77, 20, 12]

# 3

Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).

Use the map function to convert each string to an integer and store the result in a new list.

Use the map function again to square each integer in the new list and store the result in another new list.
Print both new lists.

In [38]:
def string(n):
    if a[0] == int(n):
        return n
a = ["1","2","3","4","5","6","7","8","9"]
new_list = list(map(int,a))

In [66]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
def square(n):
    return n**2
square_list = list(map(square,new_list))

In [68]:
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
new_list + square_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 4

Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example:  [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]

Use the filter function to create a new list that contains only the people who are older than 25.

Use the map function to create a new list that contains the names of the filtered people.
Print the list of names.

In [52]:
def name(n):
    if n["age"] > 25:
        return n
list1 = [{"name" : "virat" , "age" : 34},{"name" : "sourav" , "age" : 26}, {"name" : "vrushab" , "age" : 28}]
a = list(filter(name,list1))

In [53]:
a

[{'name': 'virat', 'age': 34},
 {'name': 'sourav', 'age': 26},
 {'name': 'vrushab', 'age': 28}]

In [55]:
def name1(n):
    return {"name" : n["name"]}
list(map(name1,a))

[{'name': 'virat'}, {'name': 'sourav'}, {'name': 'vrushab'}]

# 5

Create a program that reads a list of numbers from the user (you can use the input function for this).

Use map and filter functions to perform the following operations:

Square each number.

Filter out numbers that are not divisible by 3.

Print the result.

In [6]:
def square(n):
    return n ** 2

In [5]:
list1 = []
num = int(input("enter the integers you want :: "))
for i in range (1,num+1):
    a = int(input("enter the number :: "))
    list1.append(a)
print(list1)

enter the integers you want :: 4
enter the number :: 2
enter the number :: 4
enter the number :: 6
enter the number :: 8
[2, 4, 6, 8]

In [7]:
list(map(square,list1))

[4, 16, 36, 64]

In [10]:
def div(n):
    if (n % 3 != 0):
        print (n)

In [11]:
list(filter(div,list1))

2
4
8

[]