

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

# Assignment Task 1

1:  Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

fruits = ("Apple","Mango","Orange","Lychee","Star fruit")

In [2]:
fruits

('Apple', 'Mango', 'Orange', 'Lychee', 'Star fruit')

In [3]:
type(fruits)

tuple

In [4]:
fruits[0]

'Apple'

In [6]:
fruits[1]

'Mango'

In [7]:
fruits[2]

'Orange'

In [8]:
fruits[3]

'Lychee'

In [9]:
fruits[4]

'Star fruit'

# Assignment Task 2: 

Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [14]:
tuple1 = (1,3,5,7,9,11)
tuple2 = (2,4,6,8,10,12)

In [15]:
val = tuple1 + tuple2

In [16]:
val

(1, 3, 5, 7, 9, 11, 2, 4, 6, 8, 10, 12)

In [17]:
len(val)

12

# Assignment Task 3: 
    
Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.

In [21]:
val = {2,4,6,8,10,12,14,16,18,20}

In [22]:
val

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [23]:
type(val)

set

# Assignment Task 4:
    
Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [26]:
set1 = {3,4,5,6,7,8,9,10}
set2 = {6,7,8,9,10,11,}

In [27]:
set1.union(set2)     #union

{3, 4, 5, 6, 7, 8, 9, 10, 11}

In [28]:
set1.intersection(set2)

{6, 7, 8, 9, 10}

In [29]:
set1.difference(set2)

{3, 4, 5}

# Assignment Task 5:
    
Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [30]:
x = (2,8,4,5,3,6,7,9,10,11,18)

In [31]:
type(x)

tuple

In [32]:
val = set(x)

In [33]:
val

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 18}

In [34]:
type(val)

set

In [37]:
max(val) #maximum value

18

In [38]:
min(val)   #minimum value

2

# Assignment Task 6: 
    
Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

** yes Tuple is Immutuable because the we cannot modify or which cannot be changed

In [39]:
tup = (1,2,3,4)

In [40]:
tup.add(5)

AttributeError: 'tuple' object has no attribute 'add'

In [41]:
tup.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

** Hence we cannot have any changes in them once they are created

# Assignment Task 7: 
    
Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

Add a new number to the set.

Remove a number from the set.

Check if a specific number is in the set.

Find the size of the set.

In [45]:
n = {1,2,4,6,8,10,12}

In [46]:
n.add(5)

In [47]:
n

{1, 2, 4, 5, 6, 8, 10, 12}

In [48]:
n.remove(1)

In [49]:
n

{2, 4, 5, 6, 8, 10, 12}

In [50]:
8 in n

True

In [51]:
len(n)

7

# Assignment Task 8: 

Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [52]:
tup = (1,2,3,4,5,6,7,8,9,10)

In [53]:
tup[3:8]

(4, 5, 6, 7, 8)

# Assignment Task 9: 

Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [54]:
list1 = [1,2,3,4,4,5,5,6,6]

In [55]:
n = set(list1)

In [56]:
n

{1, 2, 3, 4, 5, 6}

In [57]:
duplicates = len(list1)-len(n)

In [58]:
duplicates

3

# Assignment Task 10: 
    
Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [63]:
friend_movies = ("Batman","Julyai","ZNMD","Inception","Insidious","Avengers")

In [62]:
my_movies = {"Avengers","Insidious","YJHD","The Dark Knight", "ZNMD"}

In [64]:
common = set(friend_movies).intersection(my_movies)

In [65]:
common

{'Avengers', 'Insidious'}