1. Ask user to  enter a  website name and check whether it is valid or not(True/False)


2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`
   
   
3. Replace `Science` with `Analysis` in the above output.


4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case
    
    
5. What is the index number of 'World' in above string.


6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.


7. How many times 'a' is `repeated` in above string.

8.

1.Ask user to enter a website name and check whether it is valid or not(True/False)

In [11]:
website = input("Enter website: ")   #asking user to give input
print(website.startswith('www'))
print(website.endswith('.com'))

Enter website: www.hcbjkd.com
True
True

2. name = "Innomatics", course = "Data Science" write python code in different ways to show output as : "Hello World I am learning Data Science in Innomatics"

In [14]:
name = "Innomatics"
course ="Data Science"
print("Hello World Iam learning ",course," in ",name)                #first way

Hello World Iam learning  Data Science  in  Innomatics

In [22]:
print("Hello World Iam learning " + course +" in " + name)             #second way

Hello World Iam learning Data Science in Innomatics

In [23]:
print("Hello World Iam learning {} in {} ".format(course,name))        #third way

Hello World Iam learning Data Science in Innomatics

In [24]:
print(f"Hello World Iam learning {course} in {name} ")                 #fourth way

Hello World Iam learning Data Science in Innomatics

3. Replace Science with Analysis in the above output.

In [25]:
course = "Data Science"
course.replace("Science", "Analysis")

'Data Analysis'

4. string = '     Hello World I am learning Python in Innomatics   ' 

a. How many characters are there in the string.

b. Slice only 'Python' from above string 

c. Remove white spaces on both sides then find no.of characters in the string.

d. Convert the string in Upper case

In [32]:
string = '    Hello World I am learning Python in Innomatics   '

In [33]:
string

'    Hello World I am learning Python in Innomatics   '

In [40]:
len(string)          #length of the string

53

In [37]:
string[-23:-16]

'Python '

In [41]:
n = string.strip()                #removing whitespace on both sides from string
print(n)

Hello World I am learning Python in Innomatics

In [43]:
print(n.upper())            #converting the string into upper case

HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS

5. What is the index number of 'World' in above string.

In [44]:
string

'    Hello World I am learning Python in Innomatics   '

In [46]:
string.index("World")               #before removing whitespace

10

In [47]:
n.index("World")                     #after removing whitespace

6

6..Split the string with respect to whitespace.after that store that splitted into a variable and find the data typeof that variable

In [48]:
string

'    Hello World I am learning Python in Innomatics   '

In [51]:
string.split()

['Hello', 'World', 'I', 'am', 'learning', 'Python', 'in', 'Innomatics']

In [50]:
n = string.split()    #split is used to split the values

In [52]:
type(n)

list

7.How many times 'a' is repeated in above string.

In [53]:
string

'    Hello World I am learning Python in Innomatics   '

In [54]:
string.count("a")

3