Task 1: `Counting Numbers`
    
    write a program that prints the numbers from 1 to 10, each on a new line.


Task 2: `Even Numbers`

    write a program that prints the even numbers from 1 to 20, each on a new line.


Task 3: `Square Numbers`

    Write a program that calculates and prints the square of each number from 1 to 5.


Task 4: `Multiples of Three`

    write a program that prints the multiples of 3 from 3 to 30, each on a new line.

Task 5: `Reverse Counting`

    Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

# Task 1: Counting Numbers

write a program that prints the numbers from 1 to 10, each on a new line.

In [1]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [3]:
a = 1
while a <= 10:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

# Task 2: Even Numbers

write a program that prints the even numbers from 1 to 20, each on a new line.

In [4]:
for i in range(1,21):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:
n=1
while n <= 20:
    if(n%2==0):
        print(n)
    n = n+1

2
4
6
8
10
12
14
16
18
20

# Task 3:Square Numbers

Write a program that calculates and prints the square of each number from 1 to 5.

In [7]:
[i ** 2 for i in range(1,6)] #using list comprehension method

[1, 4, 9, 16, 25]

In [8]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [16]:
n = 1
while n<=5:
    print(n**2)
    n = n + 1

1
4
9
16
25

# Task 4: Multiples of Three

write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [18]:
for i in range(3,31):
    if (i%3==0):
        print(i)

3
6
9
12
15
18
21
24
27
30

In [21]:
n = 3
while n<=30:
    if(n%3==0):
        print(n)
    n = n + 1

3
6
9
12
15
18
21
24
27
30

# Task 5: Reverse Counting

Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [23]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [1]:
n = 10
while n>0:
    print(n)
    n = n - 1

10
9
8
7
6
5
4
3
2
1