Assignment Tasks on String Escape Characters, Indexing, and Slicing:

**String Escape Characters:**

Task 1:
1. Create a string containing a sentence that includes both single and double quotes.
2. Use escape characters to include quotes within the string.
3. Print the modified string.

Task 2:
1. Declare a string with a backslash \ character in it.
2. Demonstrate the use of the escape character to print the backslash itself.
3. Print the resulting string.

Task 3:
1. Construct a string containing newline and tab escape sequences.
2. Print the string to display the formatted output.

**Indexing and Slicing:**

Task 4:
1.  sentence = "I want to become Data Scientist".
2. Access and print the `first character` of the string using indexing.
3. Access and print the `last character` of the string using negative indexing.

Task 5:
1. What are `possible ways` yo extract `Scientist`(use forward and reverse)
2. Use slicing to extract and print the `first word` from the string.
3. Use slicing to extract and print the `last three` characters of the string.

Task 6:
1. name = "Innomatics Reserach Labs"
2. Apply slicing to extract a substring that includes the `second to fifth` characters.
3. `Print` the extracted substring.

Task 7:
1. string = "Python@1234"
2. Use slicing to extract every second character from the string.
3. Print the resulting sliced string.

Task 8:
1.  print last five letters.
2. Utilize slicing to reverse the word order in the string.
3. Print the string with the words in the reversed order.

Task 9:
1. a = "123123123"
2. Apply slicing to extract only the numeric characters at odd positions.
3. Print the sliced result.

Remember to include explanations or comments for each task's code to ensure clarity. Additionally, encourage students to experiment further with different escape characters and slicing techniques beyond the provided tasks to deepen their understanding.

Task 1:

1.Create a string containing a sentence that includes both single and double quotes.

2.Use escape characters to include quotes within the string.

3.Print the modified string.

In [5]:
string = ("This is akshitha\'s notes which consists of some \"important\" topics")

In [6]:
print(string)

This is akshitha's notes which consists of some "important" topics

Task 2:

1.Declare a string with a backslash \ character in it.

2.Demonstrate the use of the escape character to print the backslash itself.

3.Print the resulting string.

In [11]:
string = "He\\bllo Worl\bd"

In [12]:
print(string)

He\bllo World

Task 3:

1.Construct a string containing newline and tab escape sequences.

2.Print the string to display the formatted output.

In [19]:
name = "This is akshitha\nIam from Maharasthra"

In [20]:
print(name)

This is akshitha
Iam from Maharasthra

In [21]:
name = "This\tis\takshitha\tIam\tfrom\tMaharasthra"

In [22]:
print(name)

This	is	akshitha	Iam	from	Maharasthra

Task 4:

sentence = "I want to become Data Scientist".

Access and print the first character of the string using indexing.

Access and print the last character of the string using negative indexing.

In [23]:
string = "I want to become Data Scientist"

In [25]:
string[0]

'I'

In [27]:
string[-1]

't'

Task 5:

What are possible ways yo extract Scientist(use forward and reverse)

Use slicing to extract and print the first word from the string.

Use slicing to extract and print the last three characters of the string.

In [38]:
string = " Data Scientist"

In [39]:
string[6:15:1]

'Scientist'

In [40]:
string[6::]

'Scientist'

In [41]:
string[6::1]

'Scientist'

In [42]:
string[-9::1]

'Scientist'

In [43]:
string[-9::]

'Scientist'

Task 6:

name = "Innomatics Reserach Labs"

Apply slicing to extract a substring that includes the second to fifth characters.

Print the extracted substring.

In [45]:
name = "Innomatics Research Labs"

In [46]:
name[1:5:1]

'nnom'

In [47]:
name[-23:-19:1]

'nnom'

Task 7:

string = "Python@1234"

Use slicing to extract every second character from the string.

Print the resulting sliced string.

In [48]:
string = "Python@123"

In [53]:
string[1::2]

'yhn13'

In [60]:
string[-9::2]

'yhn13'

Task 8:

print last five letters.

Utilize slicing to reverse the word order in the string.

Print the string with the words in the reversed order.

In [61]:
string = "Virat Kohli"

In [62]:
string[6:11:1]

'Kohli'

In [63]:
string[6::]

'Kohli'

In [64]:
string[-1:-6:-1]

'ilhoK'

In [65]:
string[:-6:-1]

'ilhoK'

Task 9:
    
a = "123123123"

Apply slicing to extract only the numeric characters at odd positions.

Print the sliced result.

In [68]:
a = "123123123"

In [69]:
a[0::2]

'13213'

In [70]:
a[::2]

'13213'

In [71]:
a[0:9:2]

'13213'

In [73]:
a[-9:9:2]

'13213'